<?xml version="1.0" encoding="utf-8" ?>
<log4net>
	<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
		<encoding value="utf-8" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
		</layout>
	</appender>

	<logger name="NHibernate.SQL" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="ConsoleAppender" />
	</logger>
</log4net>